@font-face {
    font-family: china;
    src: url(./3856NeueMachina.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
   
}
html,body{
    height: 100%;
    width: 100%;
}body{
    /* background-color: black; */
   /* max-width: 80rem;
   border:1px solid red;
  margin: auto ; */
}

section{
    height: 100%;
    width: 100%;
   
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    flex-wrap: wrap;
    gap: 2vw;
    
}
.part2{
    display: flex;
    justify-content: center;
    align-items: center; gap:2.5vw; flex-wrap: wrap;
}
nav h1{
    font-size: 5vw; display: flex;
    align-items: center; gap:1px
}
nav h1 i{
    rotate: 35deg; display: inline-block; font-size: 4vw;
}
nav h4{
    font-size: 1.8vw;
    font-weight: 500;
}
nav button{
    padding: 1vw 1.4vw;
    font-size: 1.8vw;
    border-radius: 1vw;
    border: 1px solid black; font-weight: 600; background-color: transparent
    ;
}


.center{
 padding: 80px 80px 0px 80px ;
    height: 50%;
    width: 100%;
    /* padding: 2px; */
    display: flex; 
    
}

.center-part1{
   
    height: 100%;
    width: 44%;
}
.center-part1 h1{
    font-size: 4vw;
    font-family: china;
    line-height: 1.1;
}
.center-part1 p{
    font-size: 1.3vw;
    width: 95%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.center-part1 button{
    background-color: black;
    color: white;
    border-radius: 1vw;
    padding: 1vw 2vw;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    font-size: 1vw;
}
.center-part2{
    position: relative;
    height: 100%;
    width: 56%;
}
.center-part2 img{
    
    position: absolute;
    right: 0;
    width: 100%;
}